body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.btn {
    margin: 15px;
}

.row {
    height: 100%;
}

.img {
    /*background: url('../images/nyc.jpg') no-repeat;*/
    background-size: cover;
    display: block;
}

