* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

nav {
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s ease-out;
}

nav ul {
  max-height: 70px;
  list-style: none;
  max-width: 1040px;
  margin: auto;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: all .25s;
}

nav ul li a:hover {
  color: #00d1b2;
}

nav ul li.brand {
  font-size: 24px;
  color: whitesmoke;
  flex: 4;
  text-align: left;
}

nav ul li.nav-item {
  font-size: 18px;
  color: whitesmoke;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  nav {
    transition: all .3s ease;
    height: 270px;
  }
  nav.open {
    top: 0;
  }
  nav.closed {
    top: -12.5em;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
    padding: .75em;
    border-bottom: 1px solid #ccc;
  }
  nav ul li.brand {
    flex: 1;
    text-align: center;
    transition: all .3s;
    order: 5;
    border: none;
  }
  nav ul li.brand:hover {
    color: #00d1b2;
    cursor: pointer;
  }
  nav ul li.nav-item {
    text-align: left;
    padding-left: 2em;
  }
}

main {
  background: url("img/bg.jpg") fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main h1 {
  padding-bottom: 30px;
  font-size: 3em;
}

main h1 span:before {
  content: '';
  animation: changeKeyWords infinite 8s;
}

main .start a {
  text-decoration: none;
  padding: 10px 24px;
  color: #2f2f2f;
  border: 2px solid white;
  border-radius: 24px;
  transition: 0.3s ease-out;
}

main .start a:hover {
  border-color: #00d1b2;
}

main .down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  padding: 8px;
  transition: 0.5s ease-out;
  box-shadow: -3px 3px 0 0 #ffffff;
  opacity: 0.5;
  transform: rotate(-45deg);
  animation: moveDown infinite 2s ease-out;
}

main .down:hover {
  animation-play-state: paused;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  main h1 {
    font-size: 1.5em;
  }
}

@keyframes changeKeyWords {
  0% {
    content: 'I love HTML';
  }
  25% {
    content: 'I love CSS';
  }
  50% {
    content: 'I love insane ideas';
  }
  75% {
    content: 'I love Flex';
  }
  100% {
    content: 'I love reckless design';
  }
}

@keyframes moveDown {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 20px;
  }
}

#about {
  min-height: 100vh;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#about h3 {
  text-align: center;
  padding-top: 90px;
}

#about .face {
  height: 256px;
  background: url("img/face.png") no-repeat center center;
}

#about p {
  text-align: center;
  max-width: 860px;
  margin: 0 auto;
  padding: 15px;
}

#portfolio {
  min-height: 100vh;
  background-color: #ccc;
}

#portfolio h3 {
  text-align: center;
  padding-top: 90px;
}

#portfolio .project {
  max-width: 1040px;
  display: flex;
  margin: 0 auto;
}

#portfolio .project .description {
  flex-grow: 7;
  padding: 15px;
}

#portfolio .project .description h3 {
  padding-top: 0;
}

#portfolio .project .preview {
  flex-grow: 5;
  margin: 0 auto;
  padding: 15px;
}

#portfolio .project .preview img {
  max-width: 100%;
}

.separator {
  max-width: 1040px;
  width: auto;
  margin: 0 auto;
  background-color: #00d1b2;
  height: 2px;
  border: 0;
}

@media screen and (max-width: 767px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .project .description {
    order: 1;
  }
  .project img {
    padding-top: 15px;
    margin: auto;
  }
}

#contacts {
  min-height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

#contacts h3.contacts-header {
  padding-top: 90px;
}

#contacts .social {
  max-width: 1040px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

#contacts .social p i {
  color: #2f2f2f;
  padding: 20px;
  font-size: 32pt;
  transition: 0.3s ease-in;
}

#contacts .social p .fa-facebook-official:hover {
  color: #4267b2;
}

#contacts .social p .fa-twitter:hover {
  color: #1da1f2;
}

#contacts .social p .fa-github-square:hover {
  color: #24292e;
}

#contacts form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

#contacts form input[type=text] {
  padding: 5px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #ccc;
  background: whitesmoke;
}

#contacts form input[type=text]:focus {
  border-bottom-color: #00d1b2;
  outline: none;
}

#contacts form textarea {
  width: 25em;
  height: 3em;
  padding: 5px;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  border-bottom: 2px solid #ccc;
  background: whitesmoke;
  resize: none;
  overflow: auto;
}

#contacts form textarea:focus {
  border-bottom-color: #00d1b2;
  outline: none;
}

#contacts form input[type=submit] {
  padding: 5px 15px;
  background: whitesmoke;
  border: 2px solid #2f2f2f;
  color: #2f2f2f;
  cursor: pointer;
  border-radius: 15px;
  transition: 0.3s ease-out;
}

#contacts form input[type=submit]:hover {
  border-color: #00d1b2;
}

#contacts form input[type=submit]:focus {
  outline: none;
}

@media screen and (max-width: 767px) {
  #contacts form textarea {
    width: 15em;
    height: 6em;
  }
}

footer {
  color: #2f2f2f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110px;
}

footer p {
  word-wrap: normal;
  text-align: center;
}
