.nav-item
  font-size: 1.25em

nav
  ul
    padding-top: 30px
    width: 100%
    height: 113px
    max-width: 1300px
    list-style: none
    display: flex
    justify-content: space-between
    align-content: center
    align-items: center
    margin: auto

    li
      flex-grow: 1

      &:first-child
        flex-grow: 7
        display: flex

      a
        text-decoration: none
        color: #3b424c
        overflow: hidden
        white-space: nowrap

        &:hover
          color: #42a5e3

  #brand_text
    padding-left: 15px

  #triangles_top
    height: 10px
    margin-bottom: -10px
    position: relative
    z-index: 10
    background: url("../img/triangle.png") repeat-x