header
  background-color: #1c242c
  position: fixed
  width: 100%
  z-index: 100

  ul
    height: 30px
    list-style: none
    max-width: 1300px
    margin: auto
    display: flex
    align-items: center

    li
      padding: 5px 5px 5px 10px
      overflow: hidden
      white-space: nowrap

      &:first-child
        flex-grow: 9

      &:hover
        background-color: #2d3d4e

      a
        text-decoration: none
        padding: 7.5px
        color: white
        font-size: .750em
        text-transform: uppercase
        overflow: hidden
        white-space: nowrap

      .fa-eye
        color: dodgerblue

      .fa-map-marker
        color: blueviolet

      .fa-user
        color: white

      #komi
        max-height: 75%
        max-width: 100%