#sections-div
  background-color: #85a9c7

  ul
    height: 50px
    max-width: 1300px
    list-style: none
    display: flex
    justify-content: flex-start
    align-items: center
    margin: auto

    li
      text-align: center
      padding: 13px

      a
        text-decoration: none
        text-align: center
        color: white

      &:hover
        background-color: #8eb9db

    .active
      background-color: #f2a811

      &:hover
        background-color: #f2a811