body {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  background-color: white;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
  font-family: 'Roboto', sans-serif;
}

header .navbar {
  background-color: #584b4f;
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

header .navbar-brand {
  color: antiquewhite;
}

header .navbar-brand:hover {
  color: antiquewhite;
}

header .navbar-default .navbar-nav a {
  color: white;
}

header .navbar-default .navbar-nav a:hover {
  color: white;
}

header .navbar-default .navbar-nav .active a {
  color: white;
  background: transparent;
}

header .navbar-default .navbar-nav .active a:hover {
  color: white;
  background: transparent;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.jumbotron {
  margin-top: -20px;
  background-color: #42424d;
  color: white;
}

section .container .row {
  margin-bottom: 20px;
}

#preview {
  padding-bottom: 20px;
}

#future {
  background-color: #42424d;
  padding-top: 15px;
  padding-bottom: 25px;
  color: white;
}

#projects {
  padding-top: 25px;
}

footer {
  background-color: #584b4f;
  padding-top: 20px;
  padding-bottom: 15px;
  color: white;
}
