body {
    font-family: 'Open Sans', sans-serif;
    padding-top: 80px;
}

.jumbotron {
    background: url("../img/dropbox-background.jpg") no-repeat center right;
    background-color: #E2EEFC;
    background-size: auto 100%;
    height: 700px;
}

.jumbotron .head {
    padding-top: 90px;
    font-size: 47.25px;
    font-weight: 100;
    color: #3c3c3c;
}

.jumbotron .neck {
    max-width: 440px;
}

.jumbotron .try-btn {
    font-size: 21px;
    margin: 40px 0 15px 0;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #0071e0;
}

.jumbotron .try-btn:hover {
    background-color: #3398ea;
    border-color: #3398ea;
}

.jumbotron .p-now {
    font-size: 16px;
}

.jumbotron .p-now a {
    font-size: 16px;
    color: #0078e4;
    text-decoration: underline;
}