.h-divider{
    margin-top:5px;
    margin-bottom:5px;
    height: 1px;
    width:100%;
    border-top:1px solid whitesmoke;
}

.container {
    color: #777777;
}

.container ul li {
    list-style: none;
}

.container .title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.selectors {
    padding-top: 35px;
}

.dropdown {
    padding-top: 15px;
}

footer ul li a {
    color: #777777;
}

footer p {
    float: left;
}

footer .links ul li {
    list-style: none;
    padding: 0 10px 0 10px;
}

footer ul li a:hover {
    color: #777777;
}