* {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: whitesmoke;
}

nav {
  position: fixed;
  width: 100%;
  text-transform: uppercase;
  background-color: transparent;
  z-index: 1;
  transition: 0.3s ease-out;
}

nav ul {
  max-height: 70px;
  list-style: none;
  max-width: 1040px;
  margin: auto;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 1em;
}

nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  transition: all .25s;
}

nav ul li a:hover {
  color: #00d1b2;
}

nav ul li.brand {
  font-size: 24px;
  color: whitesmoke;
  flex: 4;
  text-align: left;
}

nav ul li.nav-item {
  font-size: 18px;
  color: whitesmoke;
  flex: 1;
  text-align: center;
}

@media screen and (max-width: 767px) {
  nav {
    transition: all .3s ease;
    height: 270px;
  }
  nav.open {
    top: 0;
  }
  nav.closed {
    top: -12.5em;
  }
  nav ul {
    flex-direction: column;
  }
  nav ul li {
    width: 100%;
    padding: .75em;
    border-bottom: 1px solid #ccc;
  }
  nav ul li.brand {
    flex: 1;
    text-align: center;
    transition: all .3s;
    order: 5;
    border: none;
  }
  nav ul li.brand:hover {
    color: #00d1b2;
    cursor: pointer;
  }
  nav ul li.nav-item {
    text-align: left;
    padding-left: 2em;
  }
}

main {
  background: url("../img/bg.jpg") fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main h1 {
  padding-bottom: 30px;
  font-size: 3em;
}

main h1 span:before {
  content: '';
  animation: changeKeyWords infinite 8s;
}

main .start a {
  text-decoration: none;
  padding: 10px 24px;
  color: #2f2f2f;
  border: 2px solid white;
  border-radius: 24px;
  transition: 0.3s ease-out;
}

main .start a:hover {
  border-color: #00d1b2;
}

main .down {
  position: absolute;
  left: 50%;
  bottom: 20px;
  padding: 8px;
  transition: 0.5s ease-out;
  box-shadow: -3px 3px 0 0 #ffffff;
  opacity: 0.5;
  transform: rotate(-45deg);
  animation: moveDown infinite 2s ease-out;
}

main .down:hover {
  animation-play-state: paused;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  main h1 {
    font-size: 1.5em;
  }
}

@keyframes changeKeyWords {
  0% {
    content: 'I love HTML';
  }
  25% {
    content: 'I love CSS';
  }
  50% {
    content: 'I love insane ideas';
  }
  75% {
    content: 'I love Flex';
  }
  100% {
    content: 'I love reckless design';
  }
}

@keyframes moveDown {
  0% {
    bottom: 80px;
  }
  100% {
    bottom: 20px;
  }
}
